{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'demo/css/main.css' %} ">
    <title>Boilerplate Docker Django Gunicorn Nginx</title>
</head>
<body>

<div>
    <button type="button">
        <a href="http://127.0.0.1/todo/" style="color: red;">İNDEX GİT / TODO </a>
    </button>
</div>


</body>
</html>